<!DOCTYPE html>
<html ng-app="todosApp" ng-controller="todoController">

  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
  
    <a href="#" id="clear" ng-click="clearCompleted()">
      Clear completed
    </a>
    <p><input type="checkbox" ng-model="allDone"/>Mark All</p>
    <p><input type="text" ng-model="search"/></p>
      <ul>
        <li ng-repeat="todo in todos | filter: search"
            ng-class="{done: todo.done, q1: todo.important}"
            ng-dblclick="todo.editing = !todo.editing">
        <input type="checkbox" ng-model="todo.done">
          <span ng-hide="todo.editing">
            {{todo.action}}
          </span>
          <span ng-show="todo.editing">
            <input ng-model="todo.action" ng-keyup="$event.which === 13 && (todo.editing = false)">
          </span>
        </li>
      </ul>

      <p><input placeholder="enter the secret"
                ng-model="secret"></p>
      {{secretWord}}
      <p>Total: {{todos.length}}</p>

    <script src="script.js"></script>
  </body>

</html>
